<h1>Project Manager trying to be a coder</h1>
<p> I am an idea machine, I think about products and problems to solve and I always pay developers to develop them, instead of that I wanted to do it myself so I joined this course. </p>