

<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to online Catering</h1>
        <p>You need food for a party, a wedding, a meeting or just for friends stopping by. We’ve put together tasty menus from premiere caterers with options that include gluten-free, celiac and halal. Your food arrives at your door, when you need it, so you can skip the stress and enjoy the party.</p>
        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
 
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Convenience</h2>
            <p>You choose the perfect menu for your event. We deliver it on time – guaranteed. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Quality</h2>
            <p>Our caterers use the finest fresh local ingredients to create food you’ll love. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Affordability</h2>
            <p>Events don’t have to break the bank. Choose a menu for any budget. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
   